<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<body>
    <header>
      <section class="header-top">
        <h1>
          <a href="/">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="Mercado Liebre"
              class="logo"
            />
          </a>
        </h1>
        <form id="search-bar">
          <input type="search" placeholder="Buscar productos, marcas y mas" />
          <div>
            <button id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </form>
        <p>
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </p>
      </section>
      <nav>
        <ul id="nav-bar">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul id="login-bar">
          <li>
            <a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <img src="/images/img-home-banner.jpg" alt="" />
    </header>
    <main style="width: 90%; margin: 0 auto">
        <form action="/login" method="POST"  class="login">
      <div>
          <label class="hidden" for="name">Nombre de usuario:</label>
          <input class="input-box"  type="text" name="fullname" id="fullname" placeholder="Nombre y apellido">
      </div>
      <div>
        <label class="hidden" for="password" >Ingresar contraseña:</label>
        <input class="input-box" type="password" name="password" id="password" placeholder="Ingresar contraseña">
      </div>
      <button class="enviar"type="submit">Enviar</button>
      </form>
    </main>
    <footer>
      <div class="footer-top">
        <section class="paga-con-tarjeta-o-efectivo">
          <div class="icono"><i class="fas fa-credit-card"></i></div>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="envio-gratis">
          <div class="icono"><i class="fas fa-gift"></i></div>
          <h4>Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="seguridad">
          <div class="icono"><i class="fas fa-user-shield"></i></div>
          <h4>Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
            hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <section class="copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
</body>

</html>